name: "HACS Validate Action"

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate-hacs:
    name: HACS validation
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4.1.0"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "plugin"